<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>지역가이드</title>
    <link rel='stylesheet' href='/stylesheets/guide.css' />
  </head>
  <body> 
    <!-- 제일 위에 -->
    <div class="menus">
      <img src="/images/logo.png" onClick="location.href='/main'"  alt="Avatar" class="avatars">
      <a class="menu1" onClick="location.href='/main'">여행코스</a>
      <a class="menu2" onclick="location.href='/main/noguide'"  style="color: #1c56ad;">지역 가이드</a>
      <a class="menu3" onClick="location.href='/main/my1'">마이페이지</a>
      <a class="menu4" onclick="location.href='/'">LOGOUT (s19060@gsm.hs.kr)</a>
    </div>

    <div class="summary" style="height: 120px;">
        <h1 style="color: white; font-weight:normal; font-size: 40px;">이은혁 가이드님</u></h1>
        <h1 style="color: white;font-weight: lighter; margin: 60px;">- 여행자들에게 당신만 알고 있는 여행코스를 소개하실래요? -</h1><br>
        
    </div>

    <div style="position: absolute">
        <h1 class="h1" onClick="location.href='/main/noguide'">내가 올린 코스</h1>
        <hr class="Line4">
        <h1 class="h2" onClick="location.href='/main/enroller'">신청자</h1>
    </div>

   
    <button class="cbtn2" >
        <h1 class="ctitle">s19015@gsm.hs.kr</h1>
        <hr class="hr2">
        <h2 class="like">2021.01.07, 19시 24분</h2>
        <h2 class="cdetail"><br>'광주 비엔날레 소풍' 신청함<br><br>010-7656-0151</h2>
      </button>

    </body>
</html>


