<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>여행이지_코스 정보 보기</title>
    <link rel='stylesheet' href='/stylesheets/infoStyle.css' />
  </head>
  <body> 
    <!-- 제일 위에 -->
    <div class="menus">
      <img src="/images/logo.png" onClick="location.href='/'"  alt="Avatar" class="avatars">
      <a class="menu1">여행코스</a>
      <a class="menu2">지역 가이드</a>
      <a class="menu3">마이페이지</a>
      <a class="menu4">LOGOUT (s19015@gsm.hs.kr)</a>
    </div>

    <div class="summary">
      <div class="up">
        <button class="singo_button">신고하기</button>
      </div>
      <div class="left">
        <div id="img">
          <img src="/images/GSM_sudal.png" style="width: 100%; height: 100%;"></img>
        </div>
      </div>
        <div class="right">
          <a id= "coruse_name">여행 코스 이름</a>
          <div class="line"></div>
          <a id= "guide">지역 가이드 이름</a></br></br>
          <a id= "coruse_summary">여행 코스 내용이 내용내용 여행 코스 내용이 내용내용 여행 코스 내용이 내용내용 </a>
        </div>
        <div class="down">
          <img src="/images/not_jjim_Button.png" class="jjim_button"></img>
        </div>
    </div>

    <div class="links">
        <button id="info">정보 보기</button>
        <a id="line"></a>
        <button id="review">후기 보기</button>
    </div>
    <div class="information">
      <a>코스 자세한 정보가 들어갈 곳</br>
      야호야호</br>
      야호야호</br>
      야호야호</a>


  </div>

    </body>
</html>
