<!DOCTYPE html>
<html>
  <head>
    <title>여행easy</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    
    <div class="menus">
      <img src="/images/logo.png" onClick="location.href='/main'"  alt="Avatar" class="avatars">
      <a class="menu1" onClick="location.href='/main'" style="color: #1c56ad;">여행코스</a>
      <a class="menu2" onclick="location.href='/main/noguide'">지역 가이드</a>
      <a class="menu3" onClick="location.href='/main/my1'">마이페이지</a>
      <a class="menu4" onclick="location.href='/'">LOGOUT (s19060@gsm.hs.kr)</a>
    </div>

    <div class="search">
      <input type="search" class="searchbox" placeholder="    지역 검색" required>
      <button type="submit" class="searchbtn" required>검색</button>
    </div>

    <div class="slideshow-container">

      <div class="mySlides">
        <div class="numbertext">1 / 3</div>
        <img src="/images/3.png" style="width:97%; height: 500px; border-radius: 30px;">
      </div>
      
      <div class="mySlides">
        <div class="numbertext">2 / 3</div>
        <img src="/images/2.png" style="width:97%; height: 500px; border-radius: 30px;">
      </div>
      
      <div class="mySlides">
        <div class="numbertext">3 / 3</div>
        <img src="/images/1.png" style="width:97%; height: 500px; border-radius: 30px;">
      </div>
      
      </div>
      <br>
      
      <div class="dots" style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>


    <div class="recomand">
      <a class="whole">전체</a>
      <a class="seoul">서울/인천/경기</a>
      <a class="gang">강원</a>
      <a class="chung">충청</a>
      <a class="geung">경상</a>
      <a class="jeunra" onClick="location.href='/main/jeunra'">전라</a>
      <a class="jeju" >제주</a>
      
    </div>

    
    <div class="nearC">
      <h1>가까운 여행 코스</h1>
      <hr class="nearL">
      <div class="nearCourses">
        <button class="cbtn" onClick="location.href='/info'">
          <img src="/images/ex1.jpg" style="width: 210px; height: 210px; position: absolute; left: 10px; top: 35px;">
          <h1 class="ctitle">광주 비엔날레 소풍</h1>
          <h2 class="like">관심수 : 213</h2>
          <h2 class="cdetail">비엔날레는 진짜 축제기간에 가면 재밌고 좋은 작품들을 많이 볼 수 있습니다! 저와 함께 광주로 떠납시다. 주변에는 또 산책하기도 아주 좋아요.</h2>
        </button>

        <button class="cbtn2" onClick="location.href='/info'">
          <img src="/images/ex9.jpg" style="width: 210px; height: 210px; position: absolute; left: 10px; top: 35px;">
          <h1 class="ctitle2">광주</h1>
          <h2 class="like2">관심수 : 0</h2>
          <h2 class="cdetail2">광주 뭐 없으.</h2>
        </button>



      </div>
    </div>

    <div class="wholeC">
      <h1>전체 여행 코스</h1>
      <hr class="wholeL">
      <div class="wholeCourses">
        <button class="cbtn1" onClick="location.href='/info1'">
          <img src="/images/ex2.jpg" style="width: 210px; height: 210px; position: absolute; left: 10px; top: 35px;">
          <h1 class="ctitle1">서울 역사 탐방</h1>
          <h2 class="like">관심수 : 45</h2>
          <h2 class="cdetail">저의 대학교 역사 동아리 경험으로 알고있는 잘 알려져있지 않은 서울의 역사 문화재를 볼 수 있는 여행 코스 입니다. 역사에 관심 많으신 분 저와 함께 해요.</h2>
        </button>
      </div>
    </div>
    


    
    
  </body>
</html>


<script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 5500); // Change image every 2 seconds
  }
</script>