<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>여행이지_코스 정보 보기</title>
    <link rel='stylesheet' href='/stylesheets/infoStyle.css' />
  </head>
  <body> 
    <!-- 제일 위에 -->
    <div class="menus">
      <img src="/images/logo.png" onClick="location.href='/main'"  alt="Avatar" class="avatars">
      <a class="menu1" onClick="location.href='/main'">여행코스</a>
      <a class="menu2" onclick="location.href='/main/noguide'">지역 가이드</a>
      <a class="menu3"  style="color: #1c56ad;">마이페이지</a>
      <a class="menu4" onclick="location.href='/'">LOGOUT (s19015@gsm.hs.kr)</a>
    </div>

    <div class="summary" style="height: 120px;">
        <h1 style="color: white; font-weight:normal;">s19015@gsm.hs.kr</u></h1>
        <h1 style="color: white;font-weight: lighter; margin: 60px;">광주광역시 광산구 수완동</h1>
    </div>


    <div style="position: absolute">
        <h1 class="h1" onClick="location.href='/main/my1'">신청한 여행</h1>
        <hr class="Line3">
        <h1 class="h2" onClick="location.href='/main/my2'">여행 기록</h1>
        <h1 class="h3" onClick="location.href='/main/my3'">마음에 드는 코스</h1>
    </div>

    <button class="cbtn" onClick="location.href='/info'">
        <img src="/images/ex1.jpg" style="width: 210px; height: 210px; position: absolute; left: 10px; top: 35px;">
        <h1 class="ctitle">광주 비엔날레 소풍</h1>
        <h2 class="like">관심수 : 213</h2>
        <h2 class="cdetail">비엔날레는 진짜 축제기간에 가면 재밌고 좋은 작품들을 많이 볼 수 있습니다! 저와 함께 광주로 떠납시다. 주변에는 또 산책하기도 아주 좋아요.</h2>
    </button>

    

   

      
    
  
    </body>


