<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>지역가이드</title>
    <link rel='stylesheet' href='/stylesheets/infoStyle.css' />
  </head>
  <body> 
    <!-- 제일 위에 -->
    <div class="menus">
      <img src="/images/logo.png" onClick="location.href='/main'"  alt="Avatar" class="avatars">
      <a class="menu1" onClick="location.href='/main'">여행코스</a>
      <a class="menu2" onclick="location.href='/main/noguide'"  style="color: #1c56ad;">지역 가이드</a>
      <a class="menu3" onClick="location.href='/main/my1'">마이페이지</a>
      <a class="menu4" onclick="location.href='/'">LOGOUT (s19015@gsm.hs.kr)</a>
    </div>

    <div class="summary" style="height: 120px;">
        <h1 style="color: white; font-weight:normal;">지역가이드만 이용할 수 있습니다.</u></h1>
        <h1 style="color: white;font-weight: lighter; margin: 60px;">여행자들에게 당신만 알고 있는 여행코스를 소개하실래요?</h1><br>
        <h1 style="font-size: 15px; color: rgb(236, 236, 236);font-weight: lighter; margin: -53px;">-지역가이드 신청 승인까지 많은 시간이 소요될 수 있습니다.-</h1>
    </div>

    <button onclick="location.href='/main/noguide/enroll'" style="margin: 70px 10px 70px 500px; filter: drop-shadow(5px 5px 4px rgba(90, 88, 88, 0.25)); font-size: 30px; background-color: #ffffff; color: #257CFF; width: 500px; height: 170px; border-radius: 10px; border: none;">지역가이드 신청하기</button>

    

   

      
    
  
    </body>
</html>


