<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>여행이지_코스 정보 보기</title>
    <link rel='stylesheet' href='/stylesheets/reviewStyle.css' />
  </head>
  <body> 
    <!-- 제일 위에 -->
    <div class="menus">
      <img src="/images/logo.png" onClick="location.href='/main'"  alt="Avatar" class="avatars">
      <a class="menu1" onClick="location.href='/main'" style="color: #1c56ad;">여행코스</a>
      <a class="menu2" onclick="location.href='/main/noguide'">지역 가이드</a>
      <a class="menu3" onClick="location.href='/main/my1'">마이페이지</a>
      <a class="menu4" onclick="location.href='/'">LOGOUT (s19015@gsm.hs.kr)</a>
    </div>

    <div class="summary">
      <div class="up">
        <button class="singo_button" onclick="singo_click()">신고하기</button>
      </div>
      <div class="left">
        <div id="img">
          <img src="/images/ex2.jpg" style="width: 100%; height: 100%;"></img>
        </div>
      </div>
        <div class="right">
          <a id= "coruse_name">서울 역사 탐방</a>
          <div class="line"></div>
          <a id= "guide">차현수</a></br></br>
          <a id= "coruse_summary" style="font-weight: lighter;">이게 제가 진짜 역사킹이어서 중학교때랑 고등학교때 이제 만점을 계속 맞아온 경험으로 역사는 정말 중요한디 이거를 배우자구요 같이</a>
        </div>
        <div class="down">
          <button type="submit" id="enroll_button">신청하기</button>
        
          <img id="jjim" src="/images/not_jjim_Button.png"  class="jjim_button" onClick=" jjim();" ></img>
          
        </div>
    </div>

    <div style="text-align: center;">
      <div class="links">
      <button id="info" onClick="location.href='/info1'" style="background-color: rgb(245, 245, 245);">정보 보기</button>
      <a id="line"></a>
      <button id="review" onClick="location.href='/review1'" >후기 보기</button>
      </div>

      <div class="reviews">

        <!-- 여기에 코드 적용 -->
        <div id="item">

          <a id="title">서울은 참 좋아요    (2021.01.07)</a></br></br></br>
          <a id="review_body">재밌엇음</a>
          
        </div>

        
        <!-- 여기에 코드 적용 -->

      </div>
    </div>
     <!-- 가이드 정보 -->
  <div id="id01" class="modal">
    <form class="modal-content animate" action="/users/login" method="post">

      <div class="imgcontainer">
        <button style="background-color: #CD3B2D; color: white; font-size: 18px; border: none; padding: 10px;">신고</button></br>
        <img src="/images/logo.png" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <div>
          <label for="uname" style="font-size: 36px; color: #676767;"><b>가이드 이름</b></label>
        </div>

        <div>
          <label style="font-size: 12px; color: #676767;"><b>나이</b></label></br>
          <label for="age" style="font-size:18px; color: #676767;"><b>00세</b></label>
        </div>
      </br>

        <div>
          <label style="font-size: 12px; color: #676767;"><b>연락처</b></label></br>
          <label for="email" style="font-size: 18px; color: #676767;"><b>ha22119@naver.com</b></label>
        </div>
      </br>

      <div>
        <label style="font-size: 12px; color: #676767;"><b>신고횟수</b></label></br>
        <label for="email" style="font-size: 18px; color: #676767;"><b>00회</b></label>
      </div>

      </div>
    </form>
  </div>
    </body>

    <script>
      // Get the modal
      var modal = document.getElementById('id01');
    
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }

      function singo_click(){
        modal.style.display = "inline";
      }
      </script>
</html>
