body {
  background: #FAFAFA;
}

.left {
  left: 0px;
  top: 0px;
  width: 60%;
  height: 100%;
  float: left;
  background-color: #FFFFFF;
  border-radius: 0px 50px 50px 0px;
  box-shadow: 6px 3px 10px #c5c5c5;
}

.Description_service{
  width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-bottom: 30%;
  font-size: 36px;
  font-weight: normal; 
  text-align: center; 
  color: #6f6f6f;
}


.LoginPart{
    width: 40%;
    height: 100%;
    float: left;  
    position: stiky;
}


.ServiceDescriptionPart{
  box-shadow: 6px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 25px 25px 0px;
}
.Inner {
    width: 509px;
    height: 241px;
    position: relative;
    margin: 0 auto;
    margin-top: 17.48%;
}
.Logo { 
  margin-left: 150px;
}
    
.Description {
  width: 80%;
  height: fit-content;
  margin-top: 10.25%;
}


.Inner {
  width: 489px;
  height: 500px;
  margin-top: 25.39%;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 6px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.LoginDescription {
  width: 100%;
  height: 54%;
  background: #257CFF;
  float: left;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
.Description {
  width: 325px;
  height: 120px;
  margin-left: 56px;
  margin-top: 68px;
  float: left;
}
.LoginForm { 
  margin-top: 21px;
}
#input {
  width: 80%;
  height: 80px;
  border: 0px;
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;    
}  
.Line{
  width: 390px;
  height: 0px;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  margin: 0 auto;
}
.button {
  margin-left: 80%;
}
.Footer {
  margin-top: 10.54%;
  float: left;
}
#FindUserInfo {
  width: 200px;
  height: 20px;
  margin-left: 143.5px;
  color: #C7C7C7;
}
#SingUp {
  margin-top: 1.8%;
  width: 80px;
  height: 20px;
  text-align: center;
  margin-left: 203.5px;
  color: #C7C7C7;
}